<div class="navbar">

    <div class="navbar__mobile-menu">

        <label class="hamburger">
            <input type="checkbox" name="hamburger">
        </label>

        <aside class="sidebar">
            <nav class="menu">
                <a class="menu-item" href="#">Experience</a>
                <a class="menu-item" href="#">About</a>
                <a class="menu-item" href="#">Blog</a>
            </nav>
        </aside>

    </div>

    <div class="navbar__container">

        <div class="navbar__social">
            <a href="https://github.com/madalinpopa" target="_blank">
                <box-icon size='md' color='white' type='logo' name='github'></box-icon>
            </a>
            <a href="https://twitter.com/coderustle/" target="_blank">
                <box-icon size='md' color='white' type='logo' name='twitter'></box-icon>
            </a>
            <a href="https://www.linkedin.com/in/madalinpopa/" target="_blank">
                <box-icon size='md' color='white' type='logo' name='linkedin'></box-icon>
            </a>
        </div>

        <div class="navbar__menu">
            <nav>
                {{/* <a class="menu-item" href="#">Experience</a> */}}
                <a class="menu-item" href="#">About</a>
                {{/* <a class="menu-item" href="#">Blog</a> */}}
            </nav>
        </div>
    </div>

</div>
