<div class="flex gap-4">

    <div class="md:hidden">

        <label
            class="flex flex-col gap-[6px] absolute top-4 left-4 z-10 after:content-[''] before:content-[''] w-[var(--hamburger-bar-width)] h-[var(--hamburger-bar-height)] bg-white rounded-full transition duration-200 origin-center">
            <input
                class="w-[var(--hamburger-bar-width)] h-[var(--hamburger-bar-height)] bg-white rounded-full transition duration-200 origin-center appearance-none p-0 m-0 outline-none pointer-events-none checked:opacity-0 checked:w-0"
                type="checkbox" name="hamburger">
        </label>

        <aside class="sidebar hidden">
            <nav class="menu">
                {{/* <a class="menu-item" href="#">Experience</a> */}}
                <a class="menu-item" href="#">About</a>
                {{/* <a class="menu-item" href="#">Blog</a> */}}
            </nav>
        </aside>

    </div>

    <div class="navbar__container hidden">

        <div class="navbar__social">
            <a href="https://github.com/madalinpopa" target="_blank">
                <box-icon size='md' color='white' type='logo' name='github'></box-icon>
            </a>
            <a href="https://twitter.com/coderustle/" target="_blank">
                <box-icon size='md' color='white' type='logo' name='twitter'></box-icon>
            </a>
            <a href="https://www.linkedin.com/in/madalinpopa/" target="_blank">
                <box-icon size='md' color='white' type='logo' name='linkedin'></box-icon>
            </a>
        </div>

        <div class="navbar__menu">
            <nav>
                {{/* <a class="menu-item" href="#">Experience</a> */}}
                <a class="menu-item" href="#">About</a>
                {{/* <a class="menu-item" href="#">Blog</a> */}}
            </nav>
        </div>
    </div>

</div>
