{% load static %}
<!DOCTYPE html>
<html lang="ro">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name=”robots” content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <meta name="description" content="Madalin Popa - Blog and Stuff"/>
  <meta name="author" content="Madalin Popa">

  {% block meta_social %}
    <meta property="og:locale" content="ro_RO"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Madalin Popa"/>
    <meta property="og:description" content="Madalin Popa"/>
    <meta property="og:url" content="https://madalinpopa.com/"/>
    <meta property="og:site_name" content="Madalin Popa"/>
  {% endblock meta_social %}

  <link rel="canonical" href="https://madalinpopa.com/"/>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <link rel="apple-touch-icon" type="image/png" href="{% static 'apple-touch-icon.png' %}">

  <!-- Load CSS -->
  {% block stylesheet %}
    <link type="text/css" href="{% static '/css/main.css' %}" rel="stylesheet">
  {% endblock stylesheet %}

  <title>{% block title %}Madalin Popa{% endblock %}</title>

  {% block header_script %}

  {% endblock header_script %}

</head>

<body class="bg-gray-700 text-white">

<main id="main">
  <!-- Header -->
  {% block header %}{% endblock header %}

  <!-- Main content-->
  {% block content %}{% endblock content %}

  <!-- Footer -->
  {% block footer %}{% endblock footer %}
</main>

<!-- Javascript-->
{% block footer_script %}
<script defer src="{% static '/js/runtime.bundle.js.gz' %}"></script>
<script defer src="{% static '/js/htmx.bundle.js.gz' %}"></script>
  <script defer src="{% static '/js/alpine.bundle.js.gz' %}"></script>
  <script defer src="{% static '/js/index.bundle.js.gz' %}"></script>
  <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      });
  </script>
{% endblock footer_script %}

</body>

</html>
