<!DOCTYPE html>
<html lang="en">

{{ partial "common/head.html" . }}

<body class="bg-white dark:bg-gray-700 text-gray-700 dark:text-white ">
    <!-- Header block -->

    <header>
        {{ block "header" . }}
        {{ partial "common/navbar.html" }}
        {{ end }}
    </header>

    <!-- Main block -->
    <main class="min-h-[80vh] grid gap-4 auto-rows-max">
        {{ block "main" . }}
        <h2>Main content</h2>
        {{ end }}
    </main>
    <!-- Footer block -->
    <footer>
        {{ block "footer" . }}
        {{ partial "common/footer.html"}}
        {{ end }}
    </footer>

    <!-- Javascript partials -->
    {{ partial "common/scripts.html" }}

</body>

</html>
