$drop-shadow-md: drop-shadow(0 4px 3px RGB(0 0 0 / 0.07)) drop-shadow(0 2px 2px RGB(0 0 0 / 0.06));
$drop-shadow-lg: drop-shadow(0 10px 8px RGB(0 0 0 / 0.04)) drop-shadow(0 4px 3px RGB(0 0 0 / 0.1));

.drop-shadow-md {
    filter: $drop-shadow-md;
}

.drop-shadow-lg {
    filter: $drop-shadow-lg;
}

