// Colors
$light-color: #fff;
$dark-color: #353839;
$primary-color: #fcbe5b;
$secondary-color: #f5604a;

// Responsive breakpoints
$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;