// Colors
$light-color: #fff;
$dark-color: #353839;
$primary-color: #fcbe5b;
$secondary-color: #f5604a;

// Responsive breakpoints
$breakpoints: (
  'sm':  649px,
  'md': 768px,
  'lg':  1024px,
  'xl': 1280px,
  '2xl': 1536px,
) !default;
