
.title {
    text-align: center;
    padding: 1rem;
    
    h1 {
        font-size: 4rem;
        letter-spacing: 1px;
    }
}

.social {
    display: flex;
    gap: 1rem;
    justify-content: center;
}