{{ define "main" }}

<section>
    <div class="max-w-4xl container px-4 mt-20 grid gap-12 auto-rows-max">

        {{/* Header */}}
        <div class="prose prose-slate dark:prose-invert max-w-none md:prose-md lg:prose-lg">
            <h1>{{ .Title }}</h1>
        </div>
        {{/* Content */}}
        <div class="grid gap-4">
            {{ range .Pages }}
            <article class="grid gap-2">
                <div class="">
                    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                    {{ .Summary }}
                </div>
                {{ if .Truncated }}
                <div class="text-blue-500">
                    <a href="{{ .RelPermalink }}">Read More…</a>
                </div>
                {{ end }}
            </article>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}
