{{ define "main" }}
<main>
    <div class="container">
        <div class="row">
            <div class="title">
                <h1>Madalin Popa</h1>
            </div>
            <div class="social">
                <a href="https://github.com/madalinpopa" target="_blank">
                    <box-icon size='lg' color='white' type='logo' name='github'></box-icon>
                </a>
                <a href="https://twitter.com/coderustle/" target="_blank">
                    <box-icon size='lg' color='white' type='logo' name='twitter'></box-icon>
                </a>
                <a href="https://www.linkedin.com/in/madalinpopa/" target="_blank">
                    <box-icon size='lg' color='white' type='logo' name='linkedin'></box-icon>
                </a>
            </div>
        </div>
    </div>
</main>
{{ end }}
