@use '../base/variables' as *;
@use '../base/mixins' as *;

.navbar {

    display: flex;
    gap: 1rem;

    &__mobile-menu {

        $x-width: calc($hamburger-height * 1.414213562);
        @include respond-to('md') {
            display: none;
        }

        .hamburger {
            display: flex;
            flex-direction: column;
            gap: $hamburger-bar-gap;
            position: absolute;
            top: $hamburger-margin;
            left: $hamburger-margin;
            z-index: 2;
            cursor: pointer;


            &::before, &::after, & input {
                content: "";
                width: $hamburger-bar-width;
                height: $hamburger-bar-height;
                // this to be changed if theme is light
                background-color: white;
                border-radius: 9999px;
                transition: opacity $hamburger-animation-timing;
                transition: width $hamburger-animation-timing;
                transition: rotate $hamburger-animation-timing;
                transition: translate $hamburger-animation-timing;
                // transition: background-color $hamburger-animation-timing;
                transform-origin: left center;
            }

            & input {
                appearance: none;
                padding: 0;
                margin: 0;
                outline: none;
                pointer-events: none;
            }

            & input:checked {
                opacity: 0;
                width: 0;
            }

            &.checked::before {
                rotate: 45deg;
                width: $x-width;
                translate: 0 calc($hamburger-bar-height / -2);
            }

            &.checked::after {
                rotate: -45deg;
                width: $x-width;
                translate: 0 calc($hamburger-bar-height / 2);
            }

            &.checked + .sidebar {
                translate: 0;
            }

        }

        .sidebar {
            transition: translate $hamburger-animation-timing;
            translate: -100%;
            padding: 1rem 1rem;
            padding-top: calc($hamburger-height + $hamburger-margin + 2rem);
            // background-color: $dark-lighter-color;
            color: $light-color;
            max-width: 10rem;
            min-width: 8rem;
            height: 100vh;
            @include bottom-shadow();
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

    }

    &__container {
        position: absolute;
        padding: 1rem 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond-to('md') {
            @include container-2xl(2rem);
            position: static;
            justify-content: space-between;
        }

    }

    &__social {
        display: flex;
        gap: 1rem;

        a:hover {
            color: $secondary-color;
        }

    }

    &__menu {
        display: none;
        @include respond-to('md') {
            display: block;
        }
        nav {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            text-align: right;
        }

        a {
            letter-spacing: 0.1rem;
        }

        a:hover {
            color: $secondary-color;
        }
    }
}
